<% include templates/head.htm %>

<h1><%-: specific | et: ['demo.title', fs] %></h1>

<p><%-: specific | et: ['demo.subtitle', fs] %></p>
<p><%-: specific | et: ['demo.explaination', fs] %></p>

<hr>

<!-- Éditable -->
<h2><%-: common | et: ['demoTitle[0]', fc] %></h2>
<h3><%-: common | et: ['demo.inCommon', fc] %></h3>
<p><%-: common.demo.example.hardText | editText: ['common.demo.example.hardText', 'common.json'] %></p>
<%-: common.demo.example.hardHtml | editHtml: ['common.demo.example.hardHtml', 'common.json'] %>
<p><a href="<%-: common.demo.example.hardAttr.url | editAttr: ['common.demo.example.hardAttr.url', 'common.json', 'href'] %>" title="<%-: common.demo.example.hardAttr.description | editAttr: ['common.demo.example.hardAttr.description', 'common.json', 'title'] %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%-: common.demo.example.hardMulti.url | editAttr: ['common.demo.example.hardMulti.url', 'common.json', 'href'] %>" title="<%-: common.demo.example.hardMulti.description | editAttr: ['common.demo.example.hardMulti.description', 'common.json', 'title'] %>"><%-: common.demo.example.hardMulti.content | editText: ['common.demo.example.hardMulti.content', 'common.json'] %></a></p>
<div class="<%-: common.demo.example.hardMulti.class | editAttr: ['common.demo.example.hardMulti.class', 'common.json', 'class'] %>"><%-: common.demo.example.hardMulti.html | editHtml: ['common.demo.example.hardMulti.html', 'common.json'] %></div>

<%-: common | eh: ['demoCode[0]', fc, 'prettyPrint()'] %>


<h3><%-: common | et: ['demo.inSpecific', fc] %></h3>
<p><%-: specific.demo.example.hardText | editText: ['specific.demo.example.hardText', 'index.json'] %></p>
<%-: specific.demo.example.hardHtml | editHtml: ['specific.demo.example.hardHtml', 'index.json'] %>
<p><a href="<%-: specific.demo.example.hardAttr.url | editAttr: ['specific.demo.example.hardAttr.url', 'index.json', 'href'] %>" title="<%-: specific.demo.example.hardAttr.description | editAttr: ['specific.demo.example.hardAttr.description', 'index.json', 'title'] %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%-: specific.demo.example.hardMulti.url | editAttr: ['specific.demo.example.hardMulti.url', 'index.json', 'href'] %>" title="<%-: specific.demo.example.hardMulti.description | editAttr: ['specific.demo.example.hardMulti.description', 'index.json', 'title'] %>"><%-: specific.demo.example.hardMulti.content | editText: ['specific.demo.example.hardMulti.content', 'index.json'] %></a></p>
<div class="<%-: specific.demo.example.hardMulti.class | editAttr: ['specific.demo.example.hardMulti.class', 'index.json', 'class'] %>"><%-: specific.demo.example.hardMulti.html | editHtml: ['specific.demo.example.hardMulti.html', 'index.json'] %></div>

<%-: common | eh: ['demoCode[1]', fc, 'prettyPrint()'] %>


<hr>

<!-- Avec fichier passer en variable (file = 'index.json') -->
<h2><%-: common | et: ['demoTitle[1]', fc] %></h2>
<h3><%-: common | et: ['demo.inCommon', fc] %></h3>
<p><%-: common.demo.example.hardText | editText: ['common.demo.example.hardText', file] %></p>
<%-: common.demo.example.hardHtml | editHtml: ['common.demo.example.hardHtml', file] %>
<p><a href="<%-: common.demo.example.hardAttr.url | editAttr: ['common.demo.example.hardAttr.url', file, 'href'] %>" title="<%-: common.demo.example.hardAttr.description | editAttr: ['common.demo.example.hardAttr.description', file, 'title'] %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%-: common.demo.example.hardMulti.url | editAttr: ['common.demo.example.hardMulti.url', file, 'href'] %>" title="<%-: common.demo.example.hardMulti.description | editAttr: ['common.demo.example.hardMulti.description', file, 'title'] %>"><%-: common.demo.example.hardMulti.content | editText: ['common.demo.example.hardMulti.content', file] %></a></p>
<div class="<%-: common.demo.example.hardMulti.class | editAttr: ['common.demo.example.hardMulti.class', file, 'class'] %>"><%-: common.demo.example.hardMulti.html | editHtml: ['common.demo.example.hardMulti.html', file] %></div>

<%-: common | eh: ['demoCode[2]', fc, 'prettyPrint()'] %>


<h3><%-: common | et: ['demo.inSpecific', fc] %></h3>
<p><%-: specific.demo.example.hardText | editText: ['specific.demo.example.hardText', file] %></p>
<%-: specific.demo.example.hardHtml | editHtml: ['specific.demo.example.hardHtml', file] %>
<p><a href="<%-: specific.demo.example.hardAttr.url | editAttr: ['specific.demo.example.hardAttr.url', file, 'href'] %>" title="<%-: specific.demo.example.hardAttr.description | editAttr: ['specific.demo.example.hardAttr.description', file, 'title'] %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%-: specific.demo.example.hardMulti.url | editAttr: ['specific.demo.example.hardMulti.url', file, 'href'] %>" title="<%-: specific.demo.example.hardMulti.description | editAttr: ['specific.demo.example.hardMulti.description', file, 'title'] %>"><%-: specific.demo.example.hardMulti.content | editText: ['specific.demo.example.hardMulti.content', file] %></a></p>
<div class="<%-: specific.demo.example.hardMulti.class | editAttr: ['specific.demo.example.hardMulti.class', file, 'class'] %>"><%-: specific.demo.example.hardMulti.html | editHtml: ['specific.demo.example.hardMulti.html', file] %></div>

<%-: common | eh: ['demoCode[3]', fc, 'prettyPrint()'] %>


<!-- Avec fichier à false passer en variable (file = false) -->
<h2><%-: common | et: ['demoTitle[2]', fc] %></h2>
<% var edit1 = false %>
<h3><%-: common | et: ['demo.inCommon', fc] %></h3>
<p><%-: common.demo.example.hardText | editText: ['common.demo.example.hardText', edit1] %></p>
<%-: common.demo.example.hardHtml | editHtml: ['common.demo.example.hardHtml', edit1] %>
<p><a href="<%-: common.demo.example.hardAttr.url | editAttr: ['common.demo.example.hardAttr.url', edit1, 'href'] %>" title="<%-: common.demo.example.hardAttr.description | editAttr: ['common.demo.example.hardAttr.description', edit1, 'title'] %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%-: common.demo.example.hardMulti.url | editAttr: ['common.demo.example.hardMulti.url', edit1, 'href'] %>" title="<%-: common.demo.example.hardMulti.description | editAttr: ['common.demo.example.hardMulti.description', edit1, 'title'] %>"><%-: common.demo.example.hardMulti.content | editText: ['common.demo.example.hardMulti.content', edit1] %></a></p>
<div class="<%-: common.demo.example.hardMulti.class | editAttr: ['common.demo.example.hardMulti.class', edit1, 'class'] %>"><%-: common.demo.example.hardMulti.html | editHtml: ['common.demo.example.hardMulti.html', edit1] %></div>

<%-: common | eh: ['demoCode[4]', fc, 'prettyPrint()'] %>


<h3><%-: common | et: ['demo.inSpecific', fc] %></h3>
<p><%-: specific.demo.example.hardText | editText: ['specific.demo.example.hardText', edit1] %></p>
<%-: specific.demo.example.hardHtml | editHtml: ['specific.demo.example.hardHtml', edit1] %>
<p><a href="<%-: specific.demo.example.hardAttr.url | editAttr: ['specific.demo.example.hardAttr.url', edit1, 'href'] %>" title="<%-: specific.demo.example.hardAttr.description | editAttr: ['specific.demo.example.hardAttr.description', edit1, 'title'] %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%-: specific.demo.example.hardMulti.url | editAttr: ['specific.demo.example.hardMulti.url', edit1, 'href'] %>" title="<%-: specific.demo.example.hardMulti.description | editAttr: ['specific.demo.example.hardMulti.description', edit1, 'title'] %>"><%-: specific.demo.example.hardMulti.content | editText: ['specific.demo.example.hardMulti.content', edit1] %></a></p>
<div class="<%-: specific.demo.example.hardMulti.class | editAttr: ['specific.demo.example.hardMulti.class', edit1, 'class'] %>"><%-: specific.demo.example.hardMulti.html | editHtml: ['specific.demo.example.hardMulti.html', edit1] %></div>

<%-: common | eh: ['demoCode[5]', fc, 'prettyPrint()'] %>


<hr>

<!-- Avec raccourci et variable fc et fs -->
<h2><%-: common | et: ['demoTitle[3]', fc] %></h2>
<h3><%-: common | et: ['demo.inCommon', fc] %></h3>
<p><%-: common | et: ['demo.example.hardText', fc] %></p>
<%-: common | eh: ['demo.example.hardHtml', fc] %>
<p><a href="<%-: common | ea: ['demo.example.hardAttr.url', fc, 'href'] %>" title="<%-: common | ea: ['demo.example.hardAttr.description', fc, 'title'] %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%-: common | ea: ['demo.example.hardMulti.url', fc, 'href'] %>" title="<%-: common | ea: ['demo.example.hardMulti.description', fc, 'title'] %>"><%-: common | et: ['demo.example.hardMulti.content', fc] %></a></p>
<div class="<%-: common | ea: ['demo.example.hardMulti.class', fc, 'class'] %>"><%-: common | eh: ['demo.example.hardMulti.html', fc] %></div>

<%-: common | eh: ['demoCode[6]', fc, 'prettyPrint()'] %>


<h3><%-: common | et: ['demo.inSpecific', fc] %></h3>
<p><%-: specific | et: ['demo.example.hardText', fs] %></p>
<%-: specific | eh: ['demo.example.hardHtml', fs] %>
<p><a href="<%-: specific | ea: ['demo.example.hardAttr.url', fs, 'href'] %>" title="<%-: specific | ea: ['demo.example.hardAttr.description', fs, 'title'] %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%-: specific | ea: ['demo.example.hardMulti.url', fs, 'href'] %>" title="<%-: specific | ea: ['demo.example.hardMulti.description', fs, 'title'] %>"><%-: specific | et: ['demo.example.hardMulti.content', fs] %></a></p>
<div class="<%-: specific | ea: ['demo.example.hardMulti.class', fs, 'class'] %>"><%-: specific | eh: ['demo.example.hardMulti.html', fs] %></div>

<%-: common | eh: ['demoCode[7]', fc, 'prettyPrint()'] %>


<hr>

<!-- Avec réclamation de source -->
<h2><%-: common | et: ['demoTitle[4]', fc] %></h2>
<h3><%-: common | et: ['demo.inCommon', fc] %></h3>
<p class="add-text"><%-: common | et: ['demo.example.hardText', fc, true] %></p>
<div class="add-text"><%-: common | eh: ['demo.example.hardHtml', fc, true] %></div>
<p><a class="add-attr" href="<%-: common | ea: ['demo.example.hardAttr.url', fc, 'href', true] %>" title="<%-: common | ea: ['demo.example.hardAttr.description', fc, 'title', true] %>">Les attributs ne sont pas éditable.</a></p>

<%-: common | eh: ['demoCode[8]', fc, 'prettyPrint()'] %>


<h3><%-: common | et: ['demo.inSpecific', fc] %></h3>
<p class="add-text"><%-: specific | et: ['demo.example.hardText', fs, true] %></p>
<div class="add-text"><%-: specific | eh: ['demo.example.hardHtml', fs, true] %></div>
<p><a class="add-attr" href="<%-: specific | ea: ['demo.example.hardAttr.url', fs, 'href', true] %>" title="<%-: specific | ea: ['demo.example.hardAttr.description', fs, 'title', true] %>">Les attributs ne sont pas éditable.</a></p>

<%-: common | eh: ['demoCode[9]', fc, 'prettyPrint()'] %>


<hr>

<!-- Avec réclamation de source et execution temp réelle de fonction -->
<h2><%-: common | et: ['demoTitle[5]', fc] %></h2>
<h3><%-: common | et: ['demo.inCommon', fc] %></h3>
<p class="add-text"><%-: common | et: ['demo.example.hardText', fc, 'website.addText()'] %></p>
<div class="add-text"><%-: common | eh: ['demo.example.hardHtml', fc, 'website.addText()'] %></div>
<p><a class="add-attr" href="<%-: common | ea: ['demo.example.hardAttr.url', fc, 'href', 'website.addAttr()'] %>" title="<%-: common | ea: ['demo.example.hardAttr.description', fc, 'title', 'website.addAttr()'] %>">Les attributs ne sont pas éditable.</a></p>

<%-: common | eh: ['demoCode[10]', fc, 'prettyPrint()'] %>


<h3><%-: common | et: ['demo.inSpecific', fc] %></h3>
<p class="add-text"><%-: specific | et: ['demo.example.hardText', fs, 'website.addText()'] %></p>
<div class="add-text"><%-: specific | eh: ['demo.example.hardHtml', fs, 'website.addText()'] %></div>
<p><a class="add-attr" href="<%-: specific | ea: ['demo.example.hardAttr.url', fs, 'href', 'website.addAttr()'] %>" title="<%-: specific | ea: ['demo.example.hardAttr.description', fs, 'title', 'website.addAttr()'] %>">Les attributs ne sont pas éditable.</a></p>

<%-: common | eh: ['demoCode[11]', fc, 'prettyPrint()'] %>


<hr>

<!-- Test de boucle -->
<h2><%-: common | et: ['demoTitle[6]', fc] %></h2>
<h3><%-: common | et: ['demo.inCommon', fc] %></h3>
<% for (var i = 0, l = common.demo.loop.length; i < l; i++) { %>
<p class="add-text"><%-: common | et: ['demo.loop[' + i + '].hardText', fc, 'website.addText()'] %></p>
<div class="add-text"><%-: common | eh: ['demo.loop[' + i + '].hardHtml', fc, 'website.addText()'] %></div>
<p><a class="add-attr" href="<%-: common | ea: ['demo.loop[' + i + '].hardAttr.url', fc, 'href', 'website.addAttr()'] %>" title="<%-: common | ea: ['demo.loop[' + i + '].hardAttr.description', fc, 'title', 'website.addAttr()'] %>">Les attributs sont éditable.</a></p>
<% } %>

<%-: common | eh: ['demoCode[12]', fc, 'prettyPrint()'] %>


<h3><%-: common | et: ['demo.inSpecific', fc] %></h3>
<% for (var i = 0, l = specific.demo.loop.length; i < l; i++) { %>
<p class="add-text"><%-: specific | et: ['demo.loop[' + i + '].hardText', fs, 'website.addText()'] %></p>
<div class="add-text"><%-: specific | eh: ['demo.loop[' + i + '].hardHtml', fs, 'website.addText()'] %></div>
<p><a class="add-attr" href="<%-: specific | ea: ['demo.loop[' + i + '].hardAttr.url', fs, 'href', 'website.addAttr()'] %>" title="<%-: specific | ea: ['demo.loop[' + i + '].hardAttr.description', fs, 'title', 'website.addAttr()'] %>">Les attributs sont éditable.</a></p>
<% } %>

<%-: common | eh: ['demoCode[13]', fc, 'prettyPrint()'] %>


<hr>

<!-- Non éditable -->
<h2><%-: common | et: ['demoTitle[7]', fc] %></h2>
<h3>En dure</h3>
<p>Ce texte <strong>n'est</strong> pas éditable.</p>
<div><p>Ce HTML n'est...</p> <p>...pas éditable.</p></div>
<p><a href="javascript:;" title="Title">Les attributs ne sont pas éditable.</a></p>
<p><a href="javascript:;" title="Title">Ce texte et ses attributs ne sont pas éditable</a></p>
<div class="class-multi"><p><strong>et ce HTML <br /> non plus</strong></p></div>

<%-: common | eh: ['demoCode[14]', fc, 'prettyPrint()'] %>


<h3>Sans filtre dans Common</h3>
<p><%- common.demo.example.hardTextNotEditable %></p>
<%- common.demo.example.hardHtmlNotEditable %>
<p><a href="<%= common.demo.example.hardAttrNotEditable.url %>" title="<%= common.demo.example.hardAttrNotEditable.description %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%= common.demo.example.hardMultiNotEditable.url %>" title="<%= common.demo.example.hardMultiNotEditable.description %>"><%- common.demo.example.hardMultiNotEditable.content %></a></p>
<div class="<%= common.demo.example.hardMultiNotEditable.class %>"><%- common.demo.example.hardMultiNotEditable.html %></div>

<%-: common | eh: ['demoCode[15]', fc, 'prettyPrint()'] %>


<h3>Sans filtre dans Specific</h3>
<p><%- specific.demo.example.hardTextNotEditable %></p>
<%- specific.demo.example.hardHtmlNotEditable %>
<p><a href="<%= specific.demo.example.hardAttrNotEditable.url %>" title="<%= specific.demo.example.hardAttrNotEditable.description %>">Les attributs ne sont pas éditable.</a></p>
<p><a href="<%= specific.demo.example.hardMultiNotEditable.url %>" title="<%= specific.demo.example.hardMultiNotEditable.description %>"><%- specific.demo.example.hardMultiNotEditable.content %></a></p>
<div class="<%= specific.demo.example.hardMultiNotEditable.class %>"><%- specific.demo.example.hardMultiNotEditable.html %></div>

<%-: common | eh: ['demoCode[16]', fc, 'prettyPrint()'] %>

<hr>

<!-- Tests divers -->
<h2><%-: common | et: ['demoTitle[8]', fc] %></h2>
<h3><%-: common | et: ['demoTitle[9]', fc] %></h3>

<a href="<%-: common | ea: ['link.href', fc, 'href'] %>" title="<%-: common | ea: ['link.title', fc, 'title'] %>">
	<img src="<%-: common | ea: ['image.src', fc, 'src'] %>" alt="<%-: common | ea: ['image.alt', fc, 'alt'] %>" width="<%-: common | ea: ['image.width', fc, 'width'] %>" height="<%-: common | ea: ['image.height', fc, 'height'] %>">
</a>

<h3><%-: common | et: ['demoTitle[10]', fc] %></h3>
<%-: common | eh: ['demoCode[17]', fc, 'prettyPrint()'] %>


<% include templates/foot.htm %>